.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  margin: 2rem 0;
  background: lightgray;
  font-weight: bold;
}
.container{
  width: 100%;
  height: 100%;
}